// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 1.3.1
CURRENT_PROJECT_VERSION = 1

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = 42Q7QX86GV
ORG_IDENTIFIER = com.jkcoxson

CODE_SIGN_STYLE = Automatic

PROVISIONING_PROFILE_SPECIFIER =

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.sample`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).LocalDevVPN

TUNNEL_NAME = TunnelProv

TUNNEL_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).$(TUNNEL_NAME)

// Mute warnings about duplicate classes in AuthKit and AuthUIKit
DEBUG_DUPLICATE_CLASSES = NO
